{% extends "base_generic.html" %}

{% block content  %}
{% load static %}
<div class = "student-input-page">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <div class = "student-button">
        <h1>{{ room }}</h1>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %} 
            {{ form }}
            <input type = 'hidden' name='action' value='Enter'/>
        </form>
    </div>
    <hr>
    <div class = "student-logs">
        {% for log in logs %}
            <div id = 'bathroomLog' class = 'bathroomLog'>
                <ul class = 'list'> 
                    <p>{{ log.student_id }}</p> 
                    <p>Time In: {{ log.Time_in|date:"h:i A" }}</p>
                </ul> 
                <form id = 'form' action="" method="POST">
                    {% csrf_token %}
                    <button id = 'logOut' name = 'action' value = '{{ log.id }}' >
                        Log Out
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}