.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

body{
  background-color: #38376c;
  color: white;
}

.student-input-page {
  margin: 20px;
  padding: 20px;
  background-image: url("bg_1.1.png");
}

.student-logs {
  display: flex;
  flex-wrap: wrap;
}

.student-button {
  margin: 100px;
  display: flex;
  justify-content: center;
}

#bathroomLog {
  margin: 5px;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid #8278a2;

  height: 400px;
  width: 350px;

  display: inline-block;
}

h1{
  color:#8278a2;
  text-align: center;
}

.a-tag {
color: rgb(70, 70, 70);
}

.a-tag:hover {
color: white;
}